<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>AutoRobot360</title>  
    <meta name="description" content="">
	
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/static/css/animate.min.css" rel="stylesheet" >	
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">	
	<link href="/static/css/prettyPhoto.css" rel="stylesheet">
	
	<link href="/static/css/theme.css" rel="stylesheet">	
	<link href="/static/css/responsive.css" rel="stylesheet">
	<link href="/static/css/colors/blue.css" rel="stylesheet" class="colors">

	<!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    
	<!-- Favicons -->
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">	
    <link rel="apple-touch-icon" href="/static/images/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/ico/apple-touch-icon-144.png">

</head>
<body data-spy="scroll" data-target="#mynav" data-offset="85">
<!-- Preloader --> 
<div id="preloader">
	<div id="status">
		<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
		</div>
	</div>
</div>
<!-- End Preloader -->

<header>

<!-- Bootstrap Menu -->
<div id="navigation">
	<div class="navbar-wrapper">
		<nav class="navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="row">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						
					</div>
					<div id="mynav" class="navbar-collapse collapse">
						<ul class="nav navbar-nav main-nav-list">
														
						</ul>
					</div>		
				</div>
			</div>
		</nav>
	</div>
</div>
<!-- End Bootstrap Menu -->

<!-- Slider -->
<section id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
			<div class="item active" style="background-image: url(images/slider/bg-1.jpg)"> <!-- Change Image -->
				<div class="caption">
					<h1 class="animated fadeInLeftBig">Bienvenido al <strong>AutoRobot360</strong></h1>
						
					</div>
			</div>
					
        </div>    
    </div>	
</section>
<!-- End Slider -->

</header>
	   	<br>
		<form action="/adelante" method="GET">
        <button type="submit" class="btn btn-primary">Adelante</button>
        </form>
        <br>
        <form action="/atras" method="GET">
            <button type="submit" class="btn btn-primary">Atras</button>
        </form>
        <br>
        <form action="/izquierda" method="GET">
            <button type="submit" class="btn btn-primary">Izquierda</button>
        </form>
        <br>
        <form action="/derecha" method="GET">
            <button type="submit" class="btn btn-primary">Derecha</button>
        </form>
        <br>
        <form action="/parar" method="GET">
            <button type="submit" class="btn btn-danger">Parar</button>
        </form>


<section class="section-wrapper" id="about">
	<div class="about-us">
		<div class="why-us">	  
			<div class="container">	  
				<div class="row">
					<!-- Block Title -->
					<div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">			
						<h1><span>Sobre AutoRobot360</span></h1>							
					</div>
					<div class="element-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">			
						
					</div>
					<!-- End Block Title -->
					<!-- About Us Icons -->
					<div class="wrapper-why-us">
						<div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
							<i class="hovicon effect-1 sub-a"><b class="fa fa-flask"></b></i>
							<h2>Creatividad</h2>
							<p>Realizado por estudiantes de ingenieria en computacion</p>
						</div>
						<div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="450ms">
							<i class="hovicon effect-1 sub-a"><b class="fa fa-car"></b></i>
							<h2>Gran diseño</h2>
							<p>Fabricado con materiales de bajo costo</p>
						</div>
						<div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="600ms">
							<i class="hovicon effect-1 sub-a"><b class="fa fa-tablet"></b></i>
							<h2>Facil manejo</h2>
							<p>Se puede controlar facilmente via web</p>
						</div>
					</div>
					<!-- End About Us Icons -->
				</div>
			</div>
		</div>
	</div>
	<!-- End About Xlight -->

	
							
	
<!-- Footer -->
<div class="bottom-footer">
	<div class="container"> 
		<div class="bottom-footer-center wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
			
		</div>	
				  
	</div>
</div>
<!-- End Footer -->		

<!-- Scroll to Top  -->
<a href="#" class="scroll-up"><i class="fa fa-arrow-up"></i></a>
<!-- End Scroll To Top  -->
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/retina.min.js"></script>
	<script src="/static/js/jquery.easing.min.js"></script>
	<script src="/static/js/wow.min.js"></script>	
	<script src="/static/js/waypoints.min.js"></script>	
	<script src="/static/js/jquery.countTo.js"></script>
	<script src="/static/js/jquery.mixitup.min.js"></script>
	<script src="/static/js/jquery.prettyPhoto.js"></script>	
	<script src="/static/js/jquery.knob.min.js"></script>	
	<script src="/static/js/jquery.validate.min.js"></script>
	<script src="/static/js/custom.js"></script>
  

</body>
</html>